{% extends 'master.html' %}

{% block contenido %} 
<div class="container">
	<div class="row">
		<h2 class="bg-warning rounded-pill text-center">Ejercicio Django</h2>
		<div class="col-6 mx-auto">
			<h3>Miembros del equipo</h3>
			<ul class="list-group">
				<li class="list-group-item">Jaime Borrego Conde</li>
				<li class="list-group-item">Antonio Campos Gil</li>
				<li class="list-group-item">Gonzalo Martínez Fernández</li>
			</ul>
		</div>
	</div>

	<hr>
	
</div>
<div class="container mt-5">
	<p class="">Se pide (1 punto) CONSTRUIR UNA WEB CON UN MENÚ PRINCIPAL que permita las
		siguientes opciones:
		<ul>
		<li class="mt-1">(2.5 puntos) <strong> LA BASE DE DATOS.</strong> Muestre un formulario de
		confirmación. Si se acepta, borrar la base de datos y volverla a crear con los datos del
		dataset. Después <strong> MOSTRAR INFORMACIÓN DE LOS REGISTROS
		ALMACENADOS EN CADA TABLA </strong> que hayáis definido en el modelo. </li>
		<li class="mt-1">(1 punto) <strong> CARGAR RECSYS </strong>. Que cargue <strong>TODOS LOS DATOS NECESARIOS </strong> para
		el Sistema de Recomendación y otros apartados. </li>
		<li class="mt-1">(1.5 puntos)<strong> ANIMES POR GÉNERO</strong>. Muestre un formulario con un ChoiceField con
		la lista de géneros que hay en la BD. Cuando se seleccione un género muestra el total de
		animes de ese género agrupados por formato de emisión (Título, Géneros, Formato de
		emisión y Número de episodios). </li>
		<li class="mt-1">
		(1.5 puntos) <strong>MEJORES ANIMES</strong>. Muestre los tres animes con una puntuación media
		más alta (Título y puntuación media).</li>
		<li class="mt-1">
		(1.5 puntos)<strong> RECOMENDAR ANIMES</strong>. Muestre un formulario para introducir un
		usuario (IdUsuario), le recomiende tres animes que no haya puntuado (Título y
		puntuación propuesta por el sistema de recomendación), usando un sistema de
		recomendación Basado en ítems.</li>
	</ul> </p></div>
{% endblock %}