{% load static %} 

<!DOCTYPE html>
<html lang='es'>
  <head>
	<meta charset='utf-8'>
		<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css" />
        <script src="{{STATIC_URL}}js/bootstrap.bundle.js"></script>
  </head>
  <body>
  
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Inicio
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/populate">CARGAR LA BASE DE DATOS</a></li>
                            <li><a class="dropdown-item" href="/cargarsr">CARGAR RECSYS</a></li>
                            <li><a class="dropdown-item" href="/">Sobre</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/genero">Animes por g&eacute;nero</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mejoresanimes">Mejores animes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recomendar">Recomendar animes</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
	
    <h1 class="my-3">PRACTICA SISTEMAS DE RECOMENDACION - ANIMES</h1>
    <hr>
 		
	{% block contenido %} {% endblock %}
    
  </body>
</html>