{% extends 'master.html' %}

{% block titulo %}  {% endblock %}


{% block contenido %}
<div class="container">
    <h2 class="bg-warning rounded-pill text-center">Lista de los 3 mejores animes</h2>
    <h5>Con puntuaci&oacute;n media m&aacute;s alta</h5>
    
    {% for row in mejores_animes %}
    <div class="row rounded border border-dark mb-3 py-2">
        <h5><strong>{{row.0.titulo}}</strong></h5>
        <div class="col-12">Punutaci&oacute;n media: {{row.1 | floatformat:"2"}}/10</div>
    </div>
    {% endfor %}
</div>
    
{% endblock %}